# ~/.gitconfig
##############
# [include]
# 	path = ~/dotfiles/.gitconfig
# [user]
# 	name = WADA Takashi
# 	email =

[user]
	name = WADA Takashi
;	email =
[core]
	autocrlf = input
	quotepath = false
[push]
	default = current
[pull]
	ff = only
[rebase]
	autostash = true
	autosquash = true
[merge]
	conflictstyle = diff3
[color]
	pager = false
[rerere]
	enabled = true
[gui]
	encoding = utf-8
