[core]
	autocrlf = input
	quotePath = false
[push]
	default = current
[rebase]
	autoStash = true
	autosquash = true
[merge]
	conflictstyle = diff3
[color]
	pager = false
[rerere]
	enabled = true
[gui]
	encoding = utf-8
